@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
    font-family: 'Spicy Sushi Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Spicy Sushi Regular'), url('../assets/fonts/SpicySushi.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
